.page__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section__container {
  width: 40rem;
  margin-top: 3rem;
}

@media (max-width: 40rem) {
  .section__container {
    width: 100%;
    min-width: 22rem;
    padding: 0 1rem;
  }
}
